<link href="" rel="stylesheet">
<div class="main-container">
<div class="slider-wrap">
	<ul class="home-slide">
		<li><img src="/images/home-slide-first.jpg" /></li>
		
	</ul>
</div>

<div class="tab_container">
  
  <div id="tab1" class="tab_content" >
  <h2>Home Details of {{input.PlanName}}</h2>
    <p>{{input.Desc}}</p>
    <h4 class="title">Listing Info <span>for {{input.PlanName}}</span></h4>
    
    <ul>
		<li>Price: {{input.PriceRange}}</li>
		<li>{{input.AreaRange}}</li>
		<li>Status: {{GetStatus(input)}}</li>
		<li>{{input.Br}} Bedrooms</li>
		<li>{{input.Gr}} Garages</li>
		<li>Zip: {{input.Zip}}</li>
		<li>{{input.Ba}} Full Bathrooms, {{input.HBa}} Half Bathroom</li>
		<li>{{input.St}} Story</li>
    </ul>
   
  
  </div>
  <!-- #tab1 -->
 
  </div>
  <!-- #tab2 -->
</div>



