
	.main-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
	overflow: hidden;
}
.bx-wrapper .bx-loading{
	background: transparent;
}
h4.title{
	padding-bottom: 8px;
	border-bottom: 1px solid #dde7ef;
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #333;
	width: 100%;
}

ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px;
	height: 31px;
	line-height: 31px;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	background-color: #666;
	color: #ccc;
	overflow: hidden;
	position: relative;
}

.tab_last { border-right: 1px solid #333; }

ul.tabs li:hover {
	background-color: #ccc;
	color: #333;
}

ul.tabs li.active {
	background-color: #fff;
	color: #333;
	border-bottom: 1px solid #fff;
	display: block;
}

.tab_container {
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	overflow: auto;
}

.tab_content {
	padding: 20px;
}


.details-listing-info ul {
	display: inline-block;
	width: 29%;
	margin: 8px 0 8px 2.475247524752475%;
	padding: 0;
}
	#details-amenities > ul {
		display: inline-block;
		width: 29%;
		margin: 8px 0 8px 2.475247524752475%;
		padding: 0;
		vertical-align: top;
    	list-style: none;
		margin-left: 0;
}
	#details-amenities > ul ul{
		padding-left: 20px;
	}
	#details-amenities > ul ul li {
		margin: 8px 0 8px 2.475247524752475%;
	}
.details-box p{
    font-size: 16px;
    font-weight: 700;
}

@media screen and (max-width: 480px) {
	.tabs {
		display: none;
	}
	.tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}
}	
