
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        <li role="presentation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            *ngIf=" authService.isAuthenticated()">
          <a routerLink="/">HomeSearch</a>
        </li>
        <li role="presentation"
            routerLinkActive="active"
            *ngIf=" authService.isAuthenticated()">
          <a routerLink="about">About Us</a>
        </li>
        <li role="presentation"
            routerLinkActive="active"
            *ngIf=" authService.isAuthenticated()">
          <a routerLink="Help">Help</a>
        </li>
        <li *ngIf="!authService.isAuthenticated()" role="presentation"><a routerLink="/signup">Register</a></li>
          <li *ngIf="!authService.isAuthenticated()" role="presentation"><a routerLink="/signin">Login</a></li>
          <li *ngIf=" authService.isAuthenticated()" role="user"> Welcome{{authService.getEmail()}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
