<app-search-component ></app-search-component>

<div style="padding:20px" *ngIf="isShow">
<h1 >Homes</h1>

<table  class="table" >
        <thead>
            <tr>
                <th>Plan Name</th>
                <th>City</th>
                <th>CommunityName</th>
                <th>Status</th>
                <th>Price</th>
                <th>Area</th>
                <th>Bathromm</th>
                <th>Bedroom</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let item of homes'  >
                <td><a [routerLink]="['/home/detail', item.HomeId]" [routerLinkActive]="['active']"> {{item.PlanName}}</a></td>
                <td>{{item.City}}</td>
                <td>{{item.CommName}}</td>
                <td>{{GetStatus(item)}}</td>
                <td>{{item.Price}}</td>
                <td>{{item.AreaRange}}</td>
                <td>{{item.Ba}}</td>
                <td>{{item.Br}}</td>

            </tr>
        </tbody>
</table>


</div>

