﻿<div>
    <nav class='navbar navbar-inverse'>
        <div class='container-fluid'>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['home']">Home</a></li>
                <li><a [routerLink]="['employees']">Employee Management</a></li>
                <li ><a [routerLink]="['employee',1]">detail</a></li>    
                <li><a [routerLink]="['about']">About</a></li>   
            </ul>
        </div>
    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</div>