  <form (ngSubmit)="GetMarket()" #f="ngForm">
      <div class="form-group">
          <label for="Market">Market</label>
          
<input type="number"  ngModel placeholder="Market Id" class="form-control" name="marketInput" #marketInput="ngModel" required>
<span class="error" *ngIf="!marketInput.valid && marketInput.touched">Market is required!</span>
      </div>
       <div class="form-group">
           <label for="State">Statte</label>
<input type="text"  ngModel placeholder="State Id" class="form-control" name="StateInput" #StateInput="ngModel" required>
<span class="error" *ngIf="!StateInput.valid && StateInput.touched">State is required!</span>
       </div>

          <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Submit</button>
  </form>
