﻿<div class='panel panel-primary'>
    <div class='panel-heading'>
        Employee Management
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addEmployee()">Add</button></div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='employees && employees.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='employees && employees.length'>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Designation</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>PhoneNumber</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr [routerLink]="['/employee', employee.Id]" *ngFor="let employee of employees">
                    <td>{{employee.Name}}</td>
                    <td>{{employee.Gender}}</td>
                    <td>{{employee.Designation}}</td>
                    <td>{{employee.Email}}</td>
                    <td>{{employee.Age}}</td>
                    <td>{{employee.Phone}}</td>
                    <td>
                        <div ><a [routerLink]="['/employee', employee.Id]">ViewDetail</a></div>
                        <button title="Edit" class="btn btn-primary" (click)="editEmployee(employee.Id)">Edit</button>
                        <button title="Delete" class="btn btn-danger" (click)="deleteEmployee(employee.Id)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>

</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(employeeFrm)" [formGroup]="employeeFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <div>
                    <span>Full name*</span>
                    <input type="text" class="form-control" placeholder="Full Name" formControlName="Name">
                </div>
                
                <div>
                    <span>Gender*</span>
                    <select formControlName="Gender" class="form-control">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                
                <div>
                    <span>Designation</span>
                    <input type="text" class="form-control" placeholder="Designation" formControlName="Designation">
                </div>
                <div>
                    <span>Email</span>
                    <input type="text" class="form-control" placeholder="Email" formControlName="Email">
                </div>
                <div>
                    <span>Age</span>
                    <input type="text" class="form-control" placeholder="Age" formControlName="Age">
                </div>
                <div>
                    <span>Phone Number</span>
                    <input type="text" class="form-control" placeholder="Phone Number" formControlName="Phone">
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="employeeFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>