﻿
<div *ngFor="let employee of employees">
    <h2>{{employee.Name}}</h2>
    <p><strong>Designation: </strong>{{employee.Designation}}</p>
    <p><strong>Email: </strong>{{employee.Email}}</p>
    <p><strong>Age: </strong>{{employee.Age}}</p>
    <p><strong>PhomeNumber: </strong>{{employee.Phone}}</p>
</div>


